body
{
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

div#englishContainer
{
  float: left;
  margin-right: 1em;
}

div#germanContainer
{
}
